MYSQL_ROOT_PASSWORD=secret123 # Change this please
MYSQL_USER=developer # Change this please
MYSQL_PASSWORD=secret123 # Change this please
MYSQL_DATABASE=eindopdracht
MYSQL_HOST=mysql
MYSQL_PORT= # change this if you want to use a different port
PHP_DB_HOST=mysql
JWT_SECRET=<base64 encoded string longer then 256 bits>
JWT_ISSUER=localhost
JWT_AUDIENCE=localhost
BASE_URL=http://localhost:8080 # base url of the api
STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=
MEILI_HOST_URL= # set your meilisearch host url here
MEILI_MASTER_KEY= # set your meilisearch master key here
MEILI_SEARCH_KEY= # set your meilisearch search key here