# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
vendor
.DS_Store
dist
dist-ssr
coverage
*.local
.env
.php-cs-fixer.cache
blueberry
# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
